@import url('https://fonts.cdnfonts.com/css/scary-october');

@import url('https://fonts.cdnfonts.com/css/gembrik');
@import url('https://fonts.cdnfonts.com/css/film-cryptic');
              *{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}

body{
    background: url('photo_2024-07-19_01-54-22.jpg') no-repeat center center/cover;
}
.bb h1{
    font-family: 'Film Cryptic', sans-serif;    
    color: yellowgreen;
    font-size: 4.5rem;
    letter-spacing: 0.4rem;
 line-height: 5rem;
 border-bottom: yellowgreen 2px dotted;
}

.cont{
    width:88%;
margin: auto;


}
.cont1{
    width:98%;
margin: auto;

}
ul {
	list-style: none;
}
/*top*/

.top{
margin-left: 172px;
}

.bar{
    display: flex;
}
.logo img{
    padding-top: 15px;
    padding-left: 40px;
    width: 36px;
}

a{
    color: yellowgreen;
    text-decoration: none;
}
a:hover{
    color: white;
    cursor: pointer;
}


.u ul{
    display:flex;
}
.u ul li{

    	font-size: 2rem;
    font-family: 'Scary October', sans-serif;
color: yellowgreen;
letter-spacing: 0.2rem;

padding: 30px;}

ul li:hover{
    color: white;
    cursor: pointer;
}


/*sec*/
.bb i{
    padding: 18px;
    color: yellowgreen;
}
.bb{
    display: flex;
    padding-top: 30px;
    margin-top: 0px;

    justify-content: center;
	align-items: center;
	text-align: center;
}
.bb i{
    font-size: 36px;
}
.bow{
margin-top: 50px;
    justify-content: center;
	align-items: center;
	text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
  
}
    .bow img{
     
        width: 85%;
    }

    .b3 img{
        width: 110%;
    }
    .c{
        padding-top: 80px;
    }


   /*sec1*/
   
.ii{
    margin-top: 120px;
display: grid;
grid-template-columns: 1fr 1fr;
align-items: center;
}
.ii img{
   
    width: 100%;
    height: 100%;
}

/*ABOOOOOOUT*/
.about{
    padding: 20px;
    background-color: rgb(0, 0, 0,0.1);
    margin-top: 60px;
}
.about p{
    line-height: 1.3;
font-size: 2rem;
font-family: 'Film Cryptic', sans-serif; 
color: yellowgreen;   

}
.about i{
    font-size: 36px;
}




/*footer*/
.foot{ 

    background-color: yellowgreen;
    padding: 25px;
   
    display: flex;
    font-family: 'Film Cryptic', sans-serif;    
	justify-content: space-between;
	align-items: center;
	text-align: center;
    
}

.phone i{
color: darkslategray;  
font-size: 30px;

}
.phone{
    letter-spacing: 0.2rem;
    font-size: 1.3rem;
    display: flex;
    color: darkslategray;
}
.loc i{
    font-size: 30px;
    color: darkslategray;  
   
    }
.loc{
    letter-spacing: 0.2rem;

    font-size: 1.5rem;
        display: flex;
        color: darkslategray}
 .social i{
    font-size: 36px;
       color: darkslategray;
  


            }
            
.social{
  
 display: flex;  
}              
.social >div{
padding-left: 20px;
  
   }  
 .social  i:hover{ 
                    
    color: white;
     cursor: pointer;
                  
                  }
 /*ggggggggggggggggggg*/
                  .g img{
                    width: 80%;
                    margin-top: 40px;

                  }
                  .sec i{
                    font-size: 36px;
                  }
     .sec{
        width: 80%;

   padding:30px ;
                    margin-top: 160px;
                  }
                 .txt{
                    font-family: 'Film Cryptic', sans-serif;    
                    
                    color: yellowgreen;
                    font-size: 3rem;
                    line-height: 4.6rem;
                 }
                 .sec h2{
                   line-height: 1.7;
                 }
                  .g{

                display: grid;
                grid-template-columns: 1fr 1fr;
      margin-top: 50px;
      margin-bottom: 50px;
                  }
       

      
        /********************************************************/
        /*100*/

        @media only screen and (max-width: 1400px) {
            .bar a{
                font-size: 1.8rem;
               

            }
            .u ul li{
        padding: 0px 10px 0px 10px;}
            .bar img{
width: 26px;
            }
            .bar{
                display: flex;
            }
            .logo {
              margin-bottom: 20px;
            }
            .u {
              margin-top: 20px;
            }

            .top{
           margin-left: 30px;
                    

                }
                .top img{
                   width:  100%;
                   padding-left: 33px;
                }
        
                /*bow*/
                .bb h1{
                
                    font-size: 2.8rem;
                    letter-spacing: 0.3rem;
                 line-height: 3rem;
                 border-bottom: yellowgreen 3px dotted;
                }
                .bb i{
                    font-size: 32px;
                }

.sec{
width: 100%;

padding:0px ;
    margin-top: 90px;
  }
  .sec i{
    font-size: 28px;
}
 .txt{
        font-size: 2.1rem;
    line-height: 2.3rem;
 }

.phone i{

    font-size: 22px;
    
    }
    .phone{
        letter-spacing: 0.1rem;
    
        font-size: 1.1rem;
       
    }
    .loc i{
        font-size: 22px;
        }
    .loc{
        letter-spacing: 0.1rem;
 
        font-size: 1.1rem;
                }     
                .social i{
        font-size: 27px;

    
                }
                
                .foot{
                    
                    margin-top: 30px;
                
                    
                }
               

.social i{
    padding: 0px 10px 10px 5px;
}}







        /*800*/

        @media only screen and (max-width: 800px) {
            .bar a{
                font-size: 1.8rem;
               

            }
            .u ul li{
        padding: 0px 10px 0px 10px;}
            .bar img{
width: 26px;
            }
            .bar{
                display: flex;
            }
            .logo {
              margin-bottom: 20px;
            }
            .u {
              margin-top: 20px;
            }

            .top{
           margin-left: 30px;
                    

                }
                .top img{
                   
                   width:  100%;
                }
        
                /*bow*/
                .bb h1{
                
                    font-size: 2.8rem;
                    letter-spacing: 0.3rem;
                 line-height: 3rem;
                 border-bottom: yellowgreen 3px dotted;
                }
                .bb i{
                    font-size: 32px;
                }

.sec{
width: 100%;

padding:0px ;
    margin-top: 90px;
  }
  .sec i{
    font-size: 24px;
}
 .txt{
        font-size: 1.8rem;
    line-height: 2.3rem;
 }

.foot{
display: grid;
grid-template-columns: 1fr 2fr;


}
.social i{
    margin-top: 20px;
}
             
                




}









        /*>600*/
        @media only screen and (max-width: 600px) {
            .bar a{
                font-size: 1.5rem;
               

            }
            .u ul li{
        padding: 0px 8px 0px 8px;}
            .bar img{
width: 24px;
            }
            .bar{
                display: flex;
            }
            .logo {
              margin-bottom: 20px;
            }
            .u {
              margin-top: 20px;
            }

            .top{
           margin-left: 30px;
                    

                }
                .top img{
                    border: none;
                   width:  100%;
                }
        
                /*bow*/
                .bb h1{
                
                    font-size: 2.5rem;
                    letter-spacing: 0.3rem;
                 line-height: 3rem;
                 border-bottom: yellowgreen 2px dotted;
                }
                .bb i{
                    font-size: 28px;
                }

.sec{
width: 100%;

padding:0px ;
    margin-top: 90px;
  }
  .sec i{
    font-size: 22px;
}
 .txt{
        font-size: 1.2rem;
    line-height: 2.3rem;
 }
  .g{


margin-top: 0px;
  }             



    

/*footer*/


             



}

          /**/
          @media only screen and (max-width: 485px) {
           
                 .txt{
                        font-size: 0.9rem;
                 }
                 .sec i{
                    font-size: 18px;
                }
               .phone{
                font-size: 0.8rem;
               }
               .loc {
                font-size: 0.8rem;

               }

                
              

                
          }
          @media only screen and (max-width: 430px) {
            .bar a{
                font-size: 1.2rem;
               
            }
            .sec i{
                font-size: 17px;
            }
            .bb i{
                font-size: 25px;
            }

            .txt{
                   font-size: 0.9rem;
               line-height: 1.8rem;
            }
            /*footer*/
            .phone{
                font-size: 0.5rem;
               }
               .loc {
                font-size: 0.5rem;

               }
               .loc i{
                font-size: 20px;

               }
               .phone i{
                font-size: 20px;

               }
               .social i {
                font-size: 20px;
               }


     }
 @media only screen and (max-width: 380px) {
         
    .u ul li{
padding: 0px 8px 0px 8px;
font-size: 1rem;}
    .bar img{
width: 19px;
    }
 
    .logo {
      margin-bottom: 20px;
    }
    .u {
      margin-top: 20px;
    }
        .txt{
               font-size: 0.7rem;
           line-height: 1.4rem;
        }
        .bb i{
            font-size: 22px;
        }
        .bb h1{
            font-size: 1.7rem;
        }
        .bar a{
            font-size: 1rem;
           
        }
        .sec i{
            font-size: 14px;
        }
 }

      