@import url('https://fonts.cdnfonts.com/css/scary-october');

@import url('https://fonts.cdnfonts.com/css/gembrik');
@import url('https://fonts.cdnfonts.com/css/film-cryptic');
              *{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}

body{
    background: url('photo_2024-07-19_01-54-22.jpg') no-repeat center center/cover;
}
h1{
    font-family: 'Film Cryptic', sans-serif;    
    color: yellowgreen;
    font-size: 4.5rem;
    letter-spacing: 0.4rem;
 line-height: 5rem;
 border-bottom: yellowgreen 2px dotted;
}

.cont{
    width:88%;
margin: auto;


}
.cont1{
    width:98%;
margin: auto;

}
ul {
	list-style: none;
}
/*top*/

.top{
width: 88%;
height:55vh;
margin-left: 170px;
    overflow: hidden;
}
.bar{
    display: flex;
}
.logo img{
    padding-top: 15px;
    padding-left: 30px;
    width: 36px;
}

a{
    color: yellowgreen;
    text-decoration: none;
}
a:hover{
    color: white;
    cursor: pointer;
}


.u ul{
    display:flex;
}
.u ul li{

    	font-size: 2rem;
    font-family: 'Scary October', sans-serif;
color: yellowgreen;
letter-spacing: 0.2rem;

padding: 30px;}

ul li:hover{
    color: white;
    cursor: pointer;
}


/*sec*/
.bb i{
    padding: 18px;
    color: yellowgreen;
}
.bb{
    display: flex;
    padding-top: 30px;
    margin-top: 0px;

    justify-content: center;
	align-items: center;
	text-align: center;
}
.bow{
margin-top: 50px;
    justify-content: center;
	align-items: center;
	text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
  
}
    .bow img{
     
        width: 85%;
    }


   /*sec1*/
   
.ii{
    margin-top: 120px;
display: grid;
grid-template-columns: 1fr 1fr;
}
.ii img{
   
    width: 100%;
    height: 100%;
}

/*ABOOOOOOUT*/
.about{
    padding: 20px;
    background-color: rgb(0, 0, 0,0.1);
    margin-top: 60px;
}
.about p{
    line-height: 1.3;
font-size: 2.2rem;
font-family: 'Film Cryptic', sans-serif; 
color: yellowgreen;   

}
.about i{
    font-size: 36px;
}




/*footer*/
.foot{
    padding: 40px 40px 10px 40px;
    background-color: yellowgreen;
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'Film Cryptic', sans-serif;    

    
}
.foot >div{
    padding-bottom: 30px;
}
.phone i{
color: darkslategray;  
padding-right: 6px; 
font-size: 30px;

}
.phone{
    letter-spacing: 0.2rem;

    font-size: 1.5rem;
    display: flex;
    color: darkslategray;
}
.loc i{
    font-size: 30px;
    color: darkslategray;  
    padding-right: 6px; 
    }
.loc{
    letter-spacing: 0.2rem;

    font-size: 1.5rem;
        display: flex;
        color: darkslategray;}
 .f i{
    font-size: 30px;
  color: white;
  background-color:blue;  
    padding: 4px;
    padding-top: 8px;
    border: 2px solid  yellowgreen;
    border-radius: 100px;
            }
.f{
 display: flex;  
}              
  .f a{
         color: darkslategray;
         display: flex;  
         font-size: 1.5rem;
         letter-spacing: 0.1rem;

        }

        .f h3{
            padding-top: 8px;
        }
        .ig h3{
            padding-top: 8px;
        }
        .ig i{
            font-size: 30px;
            color:darkslategray ;  
              color: white;
              background-color:deeppink;  
                padding: 4px;
                padding-left: 8px;
                padding-top: 6px;
                border: 2px solid  yellowgreen;
                border-radius: 100px;
                      }

          .ig{
           display: flex;  
           letter-spacing: 0.2rem;

          }              
            .ig a{
                color: darkslategray;
                   display: flex;  
font-size: 1.5rem;
                  }
                  .ig  a:hover{ 
                    color: white;
                    cursor: pointer;
                  }
                  .f  a:hover{ 
                    
                    color: white;
                    cursor: pointer;
                  
                  }

                  /*gggg*/
                  .g img{
                    width: 80%;
                    margin-top: 80px;

                  }
                  .sec i{
                    font-size: 36px;
                  }
     .sec{
        width: 80%;

   padding:30px ;
                    margin-top: 160px;
                  }
                 .txt{
                    font-family: 'Film Cryptic', sans-serif;    
                    
                    color: yellowgreen;
                    font-size: 3rem;
                    line-height: 4.6rem;
                 }
                  .g{

                display: grid;
                grid-template-columns: 1fr 1fr;
      margin-top: 50px;
                  }
       

        @media only screen and (max-width: 480px) {
            /* Phone-specific styles go here */
            .ig i{
height: 5vh;               
                 
                          }
                          .f i{
                            height: 5vh; 
                          }
            .cont1{
                width: 130%;
            }
            .cont{
                width: 130%;
            }
            .foot {
                width: 100%;
            }
            .foot a{
                  font-size: 1.5rem;
             line-height: 1.7rem;
            }
            h1 {
              font-size: 2rem;
            }
            .pic{
                width: 120%;
            }
            .top {
              height: 35vh;
            }
           
            .u ul li {
                letter-spacing: 0.1rem;

              font-size: 0.5rem;
            }
            .bb {
              padding-top: 20px;
            }
            .bow img {
              width: 100%;
            }
            .ii {
              margin-top: 80px;
            }
          
            .foot > div {
              padding: 20px 0;
            }
          
         
          .foot h3{
font-size: 1.2rem;
          }
          .about p{
            width: 70%;
            font-size: 0.9rem;

          }
          .about i{
            font-size: 12px;
          }
        }
          @media only screen and (max-width: 900px ) {
         
            h1 {
              font-size: 1rem;
              
            }
            .bb h1{
                font-size: 2rem;
                letter-spacing: 0.8rem;
             line-height: 2.7rem;
                
            }
            .top{
margin: auto;            }
            .bb i{
                padding: 19px;
                color: yellowgreen;
            }
            .pic{
                width: 120%;
            }
            .top {
              height: 35vh;
            }
            .u{
                margin-bottom: 40px;
            }
            .u ul li{
                font-size: 3rem;
         
        padding: 13px;}
        
            .u ul li {
                
              font-size: 1.5rem;
            }
            .bb {
              padding-top: 20px;
            }
            .bow img {
              width: 100%;
            }
            .ii {
              margin-top: 80px;
            }
            .foot {
                padding-top: 5px;
              display: grid;
              grid-template-columns: 1fr 1fr
            }
            .foot > div {
              padding: 20px 0;
            }

            .g img{
                width: 80%;
                margin-top: 80px;

              }
              /*ggg*/
              .sec{
                margin-top: 60px;

              }

.sec i{
    font-size: 17px;
  }
  .sec h2{
    line-height: 1.5;
  }
             .txt{
                font-size: 1.7rem;
                line-height: 1.6rem;
             }
              .g{

            display: grid;
            grid-template-columns: 1fr 1fr;
  margin-top: -20px;
              }
          }
/*800*/
@media only screen and (max-width: 700px ) {
.txt{
letter-spacing: 0.3rem;
    font-size: 1.5rem;
    line-height: 1.6rem;
 }
 .sec h2{
    line-height: 1.2;
  }
}
